@model IEnumerable<leagueChampionStats.Models.champion>
@{
    ViewData["Title"] = "Champions";
}


<div class = "container">
    <br>
    @using(Html.BeginForm("Submit", "Champions", FormMethod.Post)){
        
        <form method = "post">
            <label for = "Search" class = "formLabel" style="font-weight: bold;"> Search by class: </label>
            @Html.TextBox("Search") 
            <input  type = "submit" value = "submit"> 
        </form>

    }
    <br>
    
 
    <div class="row">
        <table style = "width: 100%" class = "table table-bordered">
            <tr>
                <th> Name </th>
                <th> Role </th>
                <th> Class </th>
                <th> Region </th>
            </tr>    
            
            @foreach (var champion in Model)
            {   
                <tr>
                    <td>@champion.name</td>
                    <td>@champion.role</td>
                    <td>@champion.type</td>
                    <td>@champion.region</td>  
                </tr>
            }
                  
        </table>
    </div>
            
</div>
     
